@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-repeat: none;
  background-position: center;
  font-family: "Noto Sans JP", sans-serif;
}
